h1{
    font-family: Bicubik;
    color: #fff;
    font-size: 80px;
    text-align: center;
    margin-bottom: 20px;
}

.cars-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 80vw;
}

.cars-container-loading{
    height: 590px;
}

.car{
    background-color: #e5e5e5;
    margin: 30px;
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    border: 3px solid #f00;
}

.car-img{
    height: 180px;
    max-width: 350px;
    object-fit: cover
}

.car h2{
    text-align: center;
    font-size: 40px;
    margin: 0px;
}

.car h3{
    margin: 5px;
    font-size: 30px;
    text-decoration: underline;
}

hr{
    width: 100%;
}

.main_info{
    padding: 5px;
    margin-bottom: 10px;
}

.main_info span{
    display: inline-flex;
    background-color: #c4c4c4 ;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
    font-size: 17.5px;
}

.btn-container{
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.btn-info, .btn-reserve{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    background-color: #181818;
    color: #FBFBFB;
    border: none;
    border-radius: 12px;
    height: 47px;
    font-size: 22px;
    width: 300px;
}

.btn-info i{
    font-size: 47px;
    transition: transform 0.4s ease;
}

.cars-details{
    display: flex;
    justify-content: space-between;
    width: 280px;
    margin: 0px;
    margin-top: -40px;
    background-color: #C4C4C4;
    font-size: 20px;
    border-radius: 12px;
    padding: 10px;
    padding-top: 50px;
    opacity: 1;
    height: fit-content;
    overflow: hidden;
    transition: all  0.4s ease-out;
    z-index: -1;
    max-height: 200px;
    margin-bottom: 15px;
}

.closed{
    opacity: 0;
    max-height: 0;
    margin-bottom: 0;
}

.btn-reserve{
    background-color: #FF0000;
    color: #fff;
}

.btn-reserve:hover{
    transform: scale(1.08);
}

.btn-more{
    cursor: pointer;
    width: 250px;
    background-color: #F00;
    border: none;
    font-size: 25px;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 30px;
}

.btn-more:hover{
    transform: scale(1.1);
}

.btn-more:active{
    transform: translateY(5px);
}

.loading{
    border: 17px solid  #910000;
    border-left: 17px solid #000000;
    width: 250px;
    height: 250px;
    margin-top: 120px;
    border-radius: 100%;
    animation: gif 1.5s infinite linear;
    
}

@keyframes gif {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 720px) {
    .car{
        margin: 30px 0px;
    }
    
}