body{
    background-color: #181818;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main{
    background-image: url(../Img/background.jpg), url(../Img/background-repeat.jpg);
    background-repeat: no-repeat, repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    font-size: 80px;
    text-align: center;
    margin-bottom: 20px;
}

.cars-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
    width: 80%;
}

.car{
    background-color: #e5e5e5;
    margin: 30px;
    display: flex;
    flex-direction: column;
    width: 300px;
    /* min-height: 600px; */
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    border: 3px solid #f00;
}

.car img{
    height: 180px;
}

.car h2{
    text-align: center;
    font-size: 40px;
    margin: 0px;
    
}

.car h3{
    margin: 5px;
    font-size: 30px;
    text-decoration: underline;
}

hr{
    width: 100%;
    border: 1px solid #000;
}

.main_info{
    padding: 5px;
    margin-bottom: 10px;
}

.main_info span{
    display: inline-flex;
    background-color: #c4c4c4 ;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
    font-size: 17.5px;
}

.btn-container{
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.btn-info, .btn-reserve{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    background-color: #181818;
    color: #FBFBFB;
    border: none;
    border-radius: 12px;
    height: 47px;
    font-size: 22px;
    width: 300px;
}

.btn-info i{
    font-size: 47px;
    transition: transform 0.4s ease;
}

.cars-details{
    display: flex;
    justify-content: space-between;
    width: 280px;
    margin: 0px;
    margin-top: -40px;
    background-color: #C4C4C4;
    font-size: 20px;
    border-radius: 12px;
    padding: 10px;
    padding-top: 50px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-out;
    z-index: -1;
}

.open{
    opacity: 1;
    height: fit-content;
    margin-bottom: 15px;
}

.details-info{
    display: flex;
}

.details-info img{
    height: 30px;
    margin-right: 8px;
    padding: 1px;
}


.btn-reserve{
    background-color: #FF0000;
    color: #000000;
}

.btn-reserve:hover{/* provisório */
    background-color: #9c0000; 
    transform: scale(1.08);
}

.btn-more{
    cursor: pointer;
    width: 250px;
    background-color: #F00;
    border: none;
    font-size: 25px;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 30px;
}