header {
    display: flex;
    background-color: #181818;
    height: 80px;
    justify-content: space-between;
}

.logo{
    margin-left: 20vw;
    cursor: pointer;
    width: 70px;
    margin-top: 7px;
}

.menu-btn {
    margin-right: 20vw;
    display: flex;
    align-items: center;
    font-family: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 20px;
}

header i {
    padding: 0px 6px;
}

.btn {
    display: flex;
    align-items: center;
    margin-left: 2vw;
    cursor: pointer;
    color: #fff;
    border-left: 3px solid red;
}

.btn:hover {
    color: #f00;
}

.btn-red, .btn-login {
    color: #fff;
    cursor: pointer;
    margin-left: 1vw;
    border: #f00 solid 3px;
    border-radius: 15px;
    align-items: center;
    display: flex;
    padding: 4px 8px 4px 0px;
    font-size: 20px;
    font-family: inherit;
}

.btn-red:hover, .btn-login:hover {
    background-color: #f00;
}

a {
    text-decoration: none;
}

footer{
    background-color: #181818;
    height: 80px;
    border-top: 5px solid #f00;
}

.zapzap{
    cursor: pointer;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 3vh;
    right: 2vw;
    background-image: url(../component/whatsapp.png);
    background-size: 50px;
    animation: zap 0.5s infinite;
}

@keyframes zap {
    0%{
        transform: scale(1)
    }
    50%{
        transform: scale(1.1)
    }
    100%{
        transform: scale(1)
    }
}

.zapzap:hover{
    background-image: url("../component/whatsapp-square-color.png");
}

@media (max-width:800px) {
    .menu-btn{
        flex-direction: column;
        align-items: flex-start;
    }
    .btn, .btn-red{
        margin-top: 5px;
    }
    
}