body{
    margin: 0px;
}

header {
    display: flex;
    background-color: #181818;
    height: 80px;
    justify-content: space-between;
}

.logo{
    width: 70px;
}
.logo img{
    margin-left: 20vw;
    cursor: pointer;
    width: 70px;
    margin-top: 7px;
}

.menu-btn {
    margin-right: 20vw;
    display: flex;
    align-items: center;
    font-family: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 20px;
}

header i {
    padding: 0px 6px;
}

.btn {
    display: flex;
    align-items: center;
    margin-left: 1vw;
    cursor: pointer;
    color: #fff;
    padding: 10px;
    border-left: 3px solid #f00;
    
}

.btn:hover {
    transition: 0.3s;
    color: #ff0000;
    background-color: #ff00003a;
    border-radius: 15px;
    border-left: 3px solid rgba(0, 0, 0, 0)
}

.btn-red, .btn-login {
    color: #fff;
    cursor: pointer;
    margin-left: 1vw;
    border: 3px solid #f00;
    border-radius: 15px;
    align-items: center;
    display: flex;
    padding: 7px;
    font-size: 20px;
    font-family: inherit;
}

.btn-red:hover, .btn-login:hover {
    color: #ff0000;
    background-color: #ff00003a;
    border: 3px solid rgba(0, 0, 0, 0)
}

a {
    text-decoration: none;
}

footer{
    background-color: #181818;
    height: 80px;
    border-top: 5px solid #ff0000;
}

.zapzap{
    cursor: pointer;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 3vh;
    right: 2vw;
    background-image: url(../component/whatsapp.png);
    background-size: 50px;
    animation: zap 0.5s infinite;
}

@keyframes zap {
    0%{
        transform: scale(1)
    }
    50%{
        transform: scale(1.1)
    }
    100%{
        transform: scale(1)
    }
}

.zapzap:hover{
    background-image: url("../component/whatsapp-square-color.png");
}

@media (max-width:1035px) {
    .menu-btn{
        flex-direction: column;
        align-items: flex-start;
        margin: 10px 15px;
    }
    .btn, .btn-red{
        margin-top: 5px;
    }
    
}

.pagSelected{
    color: #ff0000;
}

.pagSelected-red{
    color: #ff0000;
    background-color: #ff00003a;
    border-radius: 15px;
    border: 3px solid #f00;
}