h1{
    color: #fff;
    font-size: 80px;
    text-align: center;
    margin-bottom: 20px;
}

.accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
}
.accordion-item {
    background-color: #e2e2e2;
    margin: 1rem 0;
    border-radius: 0.5rem;
    border: 3px solid #f00;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25); 
}
.accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

/* Ícones */
.accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}
.accordion-item-header.active::after {
    content: "\2212";
}
.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
/* ------------------------------------------------ */
.accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    font-size: 20px;
    border-image: linear-gradient(to right, transparent, #f00, transparent) 1;
}

li {
    padding: 15px;
}

@media(max-width:767px) {
    html {
        font-size: 14px;
    }
}
