@font-face {
    font-family: Bicubik;
    src: url(../component/Bicubik.OTF);
}

.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #181818;
    height: 92.6vh;
}

.text-login {
    font-family: bicubik;
    color: #fff;
    font-size: 80px;
    display: flex;
    justify-content: center;
    margin-top: 230px;
}
input {
    display: flex;
    width: 528px;
    height: 48px;
    margin-top: 40px;
    background-color: rgba(255, 0, 0, 0.363);
    color: #fff;
    font-size: 25px;
}
.btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}
.btn-login {
    color: #fff;
    cursor: pointer;
    padding: 4px 10px 5px 4px;
    border: #ff0000 solid 3px;
    border-radius: 50px;
    font-size: 20px;
    font-family: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.btn-login:hover {
    background-color: #ff0000;
}
