@font-face {
    font-family: Bicubik;
    src: url(../component/Bicubik.OTF);
}
body{
    background-color: #181818;
    margin: 0px;
}
main {
    display: flex;
    justify-content: center;
}

h1{
    font-family: bicubik;
    color: #fff;
    font-size: 80px;
    display: flex;
    justify-content: center;
    margin-top: 190px;
    margin-bottom: 20px;
}

input {
    display: flex;
    width: 528px;
    height: 48px;
    margin-top: 30px;
    background-color:#fff;
    color: black;
    font-size: 25px;
}
.btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

button{
    background-color: rgba(0, 0, 0, 0);
}