main{
    height: 80vh;
}

.car-container{
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    width: 30vw;
    min-width: 300px;
    align-items: center;
    padding: 20px;
    border: 3px solid #f00;
}

.main-car{
    width: 90%;
}

.car-container h6{
    text-align: center;
    font-size: 40px;
    margin: 0px;
}

.info{
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.car-details{
    background-color: #C4C4C4;
    padding: 10px;
    border-radius: 12px;
    width: 33%;
    overflow: hidden;
}

.car-input {
    display: flex;
    flex-direction: column;
    width: 54%;
    background-color: #C4C4C4;
    border-radius: 12px;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}

input{
    width: 90%;
}

.input-little {
    height: 20px;
}

.input-localization{
    height: 45%;
    width: 90%;
    resize:none;
}

.btn-container{
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin-top: 10px;
}
