
main {
    height: 80vh;
}

.red-container h1{
    font-family: bicubik;
    color: #fff;
    font-size: 80px;
    text-align: center;
    margin:0px;
}

.red-container a{
    padding: 10px;
    font-size: 22px;
    color: #1B95E0;
    cursor: pointer;
}

.btn-container{
    justify-content: space-between;
}

.btn-container p{
    font-family: inherit;
    color: #1B95E0;
    font-size: 20px;
}

.red-container p{
    color: #fff;
    font-family: inherit;
    font-size: 30px;
    margin: 0px;
}

.red-container a{
    color: #1B95E0;
    cursor: pointer;
    font-size: 30px;
    padding: 0px;
}
