@font-face {
    font-family: Bicubik;
    src: url(../component/Bicubik.OTF);
}
body {
    background-color: #181818;
    overflow: hidden;
}
main {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: bicubik;
    color: #fff;
    font-size: 80px;
    text-align: center;
    margin-bottom: 20px;
}

input {
    display: flex;
    width: 50vw;
    height: 48px;
    max-width: 528px;
    margin-top: 30px;
    background-color:#fff;
    color: black;
    font-size: 25px;
    box-shadow: 10px 10px 5px ;
    border: none;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

button {
    background-color: rgba(0, 0, 0, 0);
}

.login-container{
    margin-top: 150px;
    padding: 20px;
}

.barra{
    position: absolute;
    width: 2500px;
    height: 160px;
    min-height: 90px;
    background-color:#5E1110;
    transform: rotate(25deg);
    z-index: -1;
}

.barra-1{
    left: -490px;
    top: 445px;
}
.barra-2{
    left: -490px;
    top: 725px;
}

.login-container button i{
    padding: 0px 5px;
}
