@font-face {
    font-family: Bicubik;
    src: url(../component/Bicubik.OTF);
}
body{
    margin: 0;
    background-color: #EAEAEA;
    overflow-x: hidden;
}

.section1{
    background-image:url("../component/Sem-Título-1.jpg");
    background-position: inherit;
    width: 100vw;
    height: 500px;
}

.section1 img{
    width: 35vw;
    transform: scaleX(-1);
    position: relative;
    top:100px;
    left: 20vw;
    min-width: 550px; 
    z-index: 2;
}

.section1 h1{
    color: #fff;
    float: right;
    font-family: Bicubik;
    font-size: 60;
    text-align: center;
    margin-right: 20vw;
    z-index: 2;
}

@media (max-width:1205px) {
    .section1 img{
        display: none;
    }
    .section1{
        align-items: center;
        display: flex;
        justify-content: center;
    }
}