.section3 {
    background-color: #181818;
    padding: 0 20vw;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    z-index: 0;
}

.section3 div{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30vw;
    float: left;
}

.section3 img {
    width: 20vw;
}

.section3 a {
    margin-bottom: 30px;
}

.section3 a:hover {
    filter: brightness(1.3);
    transform: scale(1.1);
}

.section3 div h2 {
    color: #f9243e;
    font-size: 40px;
    margin-bottom: 0px;
    font-size: 2.5vw;
}

.section3 div p {
    font-size: 2vw;
    color: #fff;
}

.appImg {
    margin: 40px;
}