@font-face {
    font-family: Bicubik;
    src: url(../component/Bicubik.OTF);
}

body {
    margin: 0px;
    background-color: #eaeaea;
}

.header{
    background-color: #141414;
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
}
.logo-btns-container{
    display: flex;
    justify-content: space-around;
}

.logo {
    cursor: pointer;
    width: 100px;
    margin-top: 7px;
}
.menu-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 30px;
}
i {
    padding: 5px;
}
.btn {
    margin-left: 46px;
    cursor: pointer;
    color: #fff;
}
.btn:hover {
    color: #ff0000;
}
.btn-red {
    color: #fff;
    cursor: pointer;
    margin-left: 40px;
    padding: 4px 10px 5px 4px;
    border: #ff0000 solid 3px;
    border-radius: 50px;
}

.btn-red:hover {
    background-color: #ff0000;
}

a{
    text-decoration:none
}

.audi-title {
    display: flex;
    /* margin: 267px 10vw 0px 10vw; */
}
.audia8 {
    transform: scaleX(-1);
    width: 46vw;
    max-width: 1000px;
    margin: 267px 0px 0px 10vw;
}
.title {
    font-family: Bicubik;
    font-size: 80px;
    color: #fff;
    text-align: center;
    align-content: flex-start;
    margin: 100px 10vw 0px 0px;
}

.sub-title{
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    color: #F9243E;
}