@font-face {
    font-family: Bicubik;
    src: url(../../component/Bicubik.OTF);
}
body{
    background-color: #EAEAEA;
    overflow-x: hidden;
}

.section1{
    background-image:url("../../component/background.jpg");
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section1 img{
    width: 35vw;
    transform: scaleX(-1);
}

.section1 h1{
    color: #fff;
    font-family: Bicubik;
    font-size: 60;
    text-align: center;
    margin-top: -150px;
}

@media (max-width:1035px) {
    .section1 img{
        display: none;
    }
    .section1 h1{
        margin-top: 60px;
    }
}